<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Программирование контроллеров АСУ ТП</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Шапка с навигацией -->
    <header class="top-header">
        <nav class="nav-links">
            <a href="#about">О нас</a>
            <a href="#services">Наши услуги</a>
            <a href="#how-we-work">Как мы работаем</a>
            <a href="#why-choose-us">Почему выбирают нас?</a>
            <a href="#contact">Свяжитесь с нами</a>
        </nav>
            <div class="contact-info">
        <div class="contact-text">
            <span class="phone">+7 (911) 233-75-42</span>
            <span class="email">sales@asutp.pro</span>
        </div>
        <a href="https://wa.me/79625662656" target="_blank">
            <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp" class="icon">
        </a>
        <a href="https://t.me/tatmon13" target="_blank">
            <img src="{{ url_for('static', filename='images/telegram.png') }}" alt="Telegram" class="icon">
        </a>
        </div>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Логотип компании">
            </a>
        </div>
    </header>

    <header class="hero">
        <div class="overlay"></div>
        <div class="container">
            <h1>ПРОГРАММИРОВАНИЕ КОНТРОЛЛЕРОВ И ДИСПЕТЧЕРИЗАЦИЯ ACУТП</h1>
            <p>Увеличьте эффективность и безопасность вашего производства с помощью современных решений на базе ПЛК!</p><br>
            <a href="#contact" class="btn-primary">Оставить заявку</a>
        </div>
    </header>

<!-- Секция "О нас" -->
    <section class="about" id="about">
        <div class="container">
            <h2>О нас</h2>
            <p>Мы — команда экспертов в области программирования контроллеров и автоматизации технологических процессов (АСУ ТП). Мы предлагаем комплексные программные решения, на базе передовых производителей плк, которые помогут вам сократить издержки, повысить производительность, минимизировать риски на производстве, и повысить стабильность работы оборудования.</p>
            <div class="about-list">
                <div class="about-item">
                    <img src="{{ url_for('static', filename='images/team.jpg') }}" alt="Наша команда">
                    <h3>Профессиональная команда</h3>
                    <p>Наши специалисты имеют многолетний опыт в сфере автоматизации и готовы решать самые сложные задачи.</p>
                </div>
                <div class="about-item">
                    <img src="{{ url_for('static', filename='images/innovation.jpg') }}" alt="Инновации">
                    <h3>15+ лет успешной работы в сфере асутп</h3>
                    <p>Мы строим долгосрочные отношения с нашими клиентами, предоставляя постоянную поддержку и обслуживание.</p>
                </div>
                <div class="about-item">
                    <img src="{{ url_for('static', filename='images/partnership.jpg') }}" alt="Партнерство">
                    <h3>100+ сложных проектов реализовано</h3>
                    <p>Мы постоянно внедряем современные технологии для повышения эффективности и безопасности производственных процессов.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Секция услуг -->
    <section class="services" id="services">
        <div class="container">
            <h2>Наши услуги</h2>
            <div class="services-list">
                <div class="service">
                    <img src="{{ url_for('static', filename='images/plc-programming.jpg') }}" alt="Программирование ПЛК">
                    <h3>Разработка программ для контроллеров (ПЛК)</h3>
                    <p>Создаем программное обеспечение для ведущих производителей ПЛК: Siemens, ОВЕН, Omron, Segnetics, Delta, Systeme Electric, Schneider Electric, Crevis, Wago, АБАК.</p>
                </div>
                <div class="service">
                    <img src="{{ url_for('static', filename='images/scada-system.jpg') }}" alt="Создание SCADA-систем">
                    <h3>Диспетчериция SCADA-системы</h3>
                    <p>Обеспечиваем возможность удаленного мониторинга и управления технологическими процессами в реальном времени. благодаря таким скада-системам:  WinCC; TIA PORTAL, MasterScada; TraceMode, SimpleScada и др.</p>
                </div>
                <div class="service">
                    <img src="{{ url_for('static', filename='images/maintenance.jpg') }}" alt="Техническое обслуживание">
                    <h3>Разработка пользовательского интерфейса панелей оператора HMI</h3>
                    <p>Мы создаем интуитивно понятные и эргономичные интерфейсы для удобного и безопасного управления оборудованием. (Wintek ОВЕН KINCO и др.)</p>
                </div>
                <div class="service">
                    <img src="{{ url_for('static', filename='images/training.jpg') }}" alt="Обучение персонала">
                    <h3>Оптимизация и модернизация существующих систем</h3>
                    <p>Улучшаем уже существующие системы автоматизации, добавляя новые функции, повышая производительность и снижая энергозатраты.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Секция "Как мы работаем" -->
    <section class="how-we-work" id="how-we-work">
        <div class="container">
            <h2>Как мы работаем</h2>
            <div class="work-content">
                <div class="work-text">
                    <div class="work-item">
                        <img src="/static/images/check-icon.png" alt="Галочка" class="check-icon">
                        <p>Первичная консультация</p>
                    </div>
                    <div class="work-item">
                        <img src="/static/images/check-icon.png" alt="Галочка" class="check-icon">
                        <p>Анализ требований и целей заказчика</p>
                    </div>
                    <div class="work-item">
                        <img src="/static/images/check-icon.png" alt="Галочка" class="check-icon">
                        <p>Подписание договора на выполнения работ</p>
                    </div>
                    <div class="work-item">
                        <img src="/static/images/check-icon.png" alt="Галочка" class="check-icon">
                        <p>Разработка индивидуального проекта</p>
                    </div>
                    <div class="work-item">
                        <img src="/static/images/check-icon.png" alt="Галочка" class="check-icon">
                        <p>Внедрение и тестирование системы</p>
                    </div>
                </div>
                <div class="work-image">
                    <img src="/static/images/work-process.jpg" alt="Процесс работы">
                </div>
            </div>
            <div class="call-to-action">
                <p>Готовы начать? Оставьте заявку прямо сейчас!</p>
                <a href="#contact" class="btn-primary">Оставить заявку</a>
            </div>
        </div>
    </section>

<!-- Секция "Почему выбирают нас" -->
<section class="why-choose-us" id="why-choose-us">
    <div class="container">
        <h2>Почему выбирают нас?</h2>
        <div class="benefits">
            <div class="benefit-card">
                <h3>Бесплатная консультация</h3>
                <p>0Р – Мы предлагаем первую консультацию бесплатно, чтобы помочь вам оптимизировать производственные процессы.</p>
            </div>
            <div class="benefit-card">
                <h3>Снижение затрат на 20%</h3>
                <p>Наши решения позволяют позволяют уменьшить операционные расходы за счет автоматизации на 20%.</p>
            </div>
            <div class="benefit-card">
                <h3>Точно в срок</h3>
                <p>Мы строго придерживаемся установленных планов и сроков выполнения поставленных задач</p>
            </div>
            <div class="benefit-card">
                <h3>Индивидуальные решения</h3>
                <p>Мы разрабатываем индивидуальные решения подходящщие именно под ваши нужды и задачи.</p>
            </div>
            <div class="benefit-card">
                <h3>Клиенто-ориентированность</h3>
                <p>Фокус нашего внимания направлен, в первую очередь, на наших клиентов.</p>
            </div>
            <div class="benefit-card">
                <h3>Простота</h3>
                <p>Мы пишем простой и понятный код который работает.</p>
            </div>
        </div>
    </div>
</section>



<!-- Секция "Контактная форма" -->
<section class="contact" id="contact">
  <div class="container">
    <h2>Свяжитесь с нами</h2>
    <form class="contact-form" action="#" method="POST">
      <div class="form-group">
        <label for="name">Имя <span class="required">*</span></label>
        <input type="text" id="name" name="name" required placeholder="Ваше имя">
      </div>
      <div class="form-group">
        <label for="phone">Телефон <span class="required">*</span></label>
        <input type="tel" id="phone" name="phone" required placeholder="Ваш телефон">
      </div>
      <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea id="message" name="message" placeholder="Ваше сообщение"></textarea>
      </div>
      <button type="submit" class="submit-btn">Отправить</button>
      <p class="required-note"><span class="required">*</span> Обязательные поля</p>
    </form>
  </div>
</section>

<!--Секция "Футер"-->
    <footer>
        <div class="container">
            <p>&copy; 2024 Программирование АСУ ТП | Все права защищены</p>
        </div>
    </footer>
</body>
</html>